/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Cookie');
*{padding:0px; margin:0px;}
body{ font-family:Roboto; font-size:13px; color:#757575; line-height:20px;}
h1, h2, h3, h4, h5, h6{  font-family:'Roboto Slab'; letter-spacing:0.0em; text-transform:none;}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-left: 1px solid #f9f9f9;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ff5252;
}



.send_btn{margin:10px 0px; background:#ff5252; color:#fff; font-size:14px; padding:10px 20px;  text-transform:none;}
.send_btn:hover{ color:#fff; background:#6a6e7c;}

/* === SIDEBAR === */
	.body {
		position: relative;
		margin: 0;
		padding: 0;
		transition: margin-right 0.5s;
		-o-transition: margin-right 0.5s;
		-moz-transition: margin-right 0.5s;
		-webkit-transition: margin-right 0.5s;
	}
	.body.slide {
		margin-right: 300px;
	}
	.sidebar {
		background-color: #00ffff;
		width: 300px;
		height: 100%;
		padding: 0px; 
		position: fixed;
		right: -300px;
		left: auto;
		top: 50px;
		z-index: 1;
		transition: right 0.5s;
		-o-transition: right 0.5s;
		-moz-transition: right 0.5s;
		-webkit-transition: right 0.5s;
		overflow-y: hidden;
	}
	
	.sidebar.show {
		right: 300px;
		display: block;
	}
	.ps-scrollbar-y-rail {
	  margin: 5px 0;
	}	
/* === END SIDEBAR === */

.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 50%;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}


/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}
.SmallModalContent{ text-align:center; padding:40px 20px; font-size:13px; top:150px;}
.SmallModalContent .btn{ background:#ff9600; font-family:'Raleway'; color:#fff; font-size:11px; font-weight:600; letter-spacing:0.15em; text-transform:uppercase; padding:8px 15px; width:auto; border-radius:0px; border:none; margin:5px;}
.SmallModalContent .btn .glyphicon{ margin-right:5px; font-size:11px; font-weight:100;}
.modal-title{ font-size:14px; color:#22313f; font-weight:400; text-transform:none }
.modal-title img{ width:24px; height:auto; margin-right:5px;}
.modal-footer{ position: fixed; bottom:0px; width:100%; background-color:#fff; text-align:right}
.modal-footer .btn{ background:#ea495f; font-family:'Raleway'; color:#fff; font-size:11px; font-weight:500; letter-spacing:0.15em; text-transform:uppercase; padding:8px 15px; width:auto; border-radius:3px;}
.modal-footer .btn + .btn { margin-bottom: 5px; margin-left: 5px;}



.form-control{ font-size:12px; padding:20px 0px!important; border:none; color:#999; border-radius:0px; background:#fff; border:solid 2px #b0cfff; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .00);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .00);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.form-control:focus{ box-shadow:none;}
.form-group {
    display: flex;
    /*height: 55px;*/
	margin-bottom:inherit;
}

.control-label {
    font-size: 12px;
	color:#666;
    font-weight: 400;
    opacity: 0.6;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}


.form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.90);
	color:#85b4ff;
}

.form-control {
    align-self: flex-end;
}

.form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

.form-control:focus::-webkit-input-placeholder {
    transition: none;
}

.form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}



.ripplelink{
 display:block;
  position:relative;
  overflow:hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index:0;
}

.ripplelink:hover{
	z-index:1000;
}

.ink {
  display: block;
  position: absolute;
  background:rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
	-webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}

.btn:hover{
	z-index:1000;
 	/*box-shadow:rgba(0, 0, 0, 0.3) 1px 2px 3px 0;
  	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 1px 2px 3px 0;
  	-moz-box-shadow:rgba(0, 0, 0, 0.3) 1px 2px 3px 0;*/
}


.RedBtn{ background-color:#ea495f; font-family:Raleway; color:#fff; font-size:14px; font-weight:800; letter-spacing:0.15em; padding:14px 20px; margin-bottom:10px;}
.YellowBtn{ background-color:#f7bd00; font-family:Raleway; color:#fff; font-size:13px; font-weight:800; letter-spacing:0.15em; padding:14px 20px; margin-bottom:10px;}
.WhiteBtn{ background-color:#fff; font-family:Raleway; color:#ea495f; font-size:13px; font-weight:800; letter-spacing:0.15em; padding:14px 20px; margin-bottom:10px; border:solid 2px #fff;}
.WhiteBtn:hover{ background-color:#fafafa; color:#ea495f;  border:solid 2px #ea495f;}
.GrayBtn{ background-color:#999; font-family:Raleway; color:#fff; font-size:12px; font-weight:700; letter-spacing:0.15em; padding:10px 15px; margin:10px 0px;}
.GreenBtn{ background-color:#afd800; font-family:Raleway; color:#fff; font-size:14px; font-weight:700; letter-spacing:0.15em; padding:14px 20px; margin:10px 0px;}
.GreenBtn:hover{ background-color:#444; color:#fff;}
.BorderBtn{ background:none; border:solid 2px #414141; color:#414141; margin:10px 0px; border-radius:0px; font-weight:600; padding:10px 15px;}
.BorderBtn:hover{ background-color:#212121; border:solid 2px #212121; color:#fff;}


::-webkit-input-placeholder{color:#999; opacity: 1; font-family:Roboto; font-size: 13px;}
:-moz-placeholder{color:#999; opacity: 1; font-family:Roboto; font-size: 13px;}
::-moz-placeholder{color:#999; opacity:1; font-family:Roboto; font-size: 13px;}

.MarginTop10{ margin-top:10px;}
.MarginBottom10{ margin-bottom:10px;}
.MarginTop20{ margin-top:20px;}
.MarginBottom20{ margin-bottom:20px;}
.MarginTop30{ margin-top:30px;}
.MarginBottom30{ margin-bottom:30px;}
.MarginTop40{ margin-top:40px;}
.MarginBottom40{ margin-bottom:40px;}

.navbar{ border:none;}
.navbar-brand{ padding-top:10px; min-height:52px; /*border-bottom:solid 3px #ea495f;*/ background:#13343d;}
.nav > li{ border:none; font-size:12px; font-weight:500;}
.nav > li > a {
    padding: 10px 12px;
}
.navbar-nav > li > a { padding-top:14px; padding-bottom:18px;}
.navbar-default { font-family: Roboto, sans-serif; font-size:12px; font-weight:700; }
.navbar-default .navbar-nav > li > a{color:#fff;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{ background-color:#005a89!important;}
.TopBar-Icon{ width:20px; height:auto; margin-right:10px;}
.navbar-toggle{ margin-top:9px;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #414141!important; background-color: #fcd116;}

.dropdown-menu > li > a {
    display: block; font-size:13px;
    padding: 10px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #414141;
    white-space: nowrap;
}
.TopSignUp{background-color: #dd611b;}
.TopSignUp a{color:#fff!important;}

.TopText{ background:#f4f4f4; padding:10px 0px; color:#969696; font-size:12px;}
.TopText a:link{ color:#969696; padding:0px 10px;}
.TopBar{ background-color:#027291;}
.Index-BG{ background: url(../images/IndexBG-00.jpg) no-repeat center center; -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; padding:100px 30px; border-bottom:solid 0px #afd800; text-align:center; min-height:400px;}
.Logo{ width:30px; height:auto;}
.IndexLogo{ margin:40px 0px; width:100%; height:auto; max-width:260px; display:none;}
.TopBar-Div{ background: url(../images/TopBar-Right-BG.jpg) no-repeat center bottom;}
.TopLogo{ width:100%; height:auto; max-width:300px; margin:10px 0px;}
.TopBar-Right{ text-align: right; padding:20px 0px;}
.TopBar-Right a{ color:#00a3e0;}
.IndexPicArea{background-color:#fbffc3; margin:0px; padding:0px; }
.IndexTxt{ padding:50px 20px 20px 20px; font-family:'Roboto Slab'; font-size:14px; line-height:28px;}
.Index-BG h1{ font-family:Raleway; color:#dfeb58; font-size:40px; text-transform:uppercase; font-weight:900; margin:0px; margin-bottom:40px; letter-spacing:0.1em; text-shadow:5px 0px 10px #212121;}
.Index-BG h1 span{ color:#ea495f;}
.Index-BG h2{ color:#fff; font-size:20px; font-weight:300; margin:0px; margin-bottom:20px; margin-top:30px;}
.Index-BG p{ font-size:14px; color:#fff; line-height:24px; background:#2b3038; padding:10px;}
.Index-ImpText{ background:#ff5252; padding:15px 20px;}
.Index-ImpText h6{ font-family:Roboto; font-size:16px; color:#fff; margin:0px; padding:0px; line-height:24px; font-weight:400;}
.Index-ImpText h6 img{ margin-right:10px;}
.Index-EventsBlock{ display:none; padding:60px 0px; padding-bottom:150px; background: url(../images/EventBack.jpg) no-repeat 50% 100% #387aff; }
.Index-EventsBlock h1{ font-family:Raleway; color:#fff; font-size:24px; text-transform:uppercase; font-weight:900; margin:0px; margin-bottom:40px; letter-spacing:0.1em;}
.EventImg{ width:100px; height:100px; background:#fff; border-radius:50%; text-align:center;}

.Index-Highlights-Area{ margin:20px 0px; margin-bottom:0px; border-top:solid 1px #dcdcdc; padding-top:20px; }
.Index-Highlights{ border-bottom:solid 0px #dcdcdc; border-top:solid 0px #dcdcdc; }
.Index-HighlightsBlock{ border-left:solid 0px #dcdcdc; margin:0px -15px; padding:0px; font-size:12px; color:#969696;}
.HB1{ border-right:solid 0px #dcdcdc;}
.HB-Header{ padding:40px 20px; font-size:20px; font-weight:300; letter-spacing:-0.010em; border-bottom:solid 3px #dcdcdc;}
.HB1 .HB-Header{ background: url(http://www.pressclubkolkata.com/images/Icon-Create.png) no-repeat 90% 50%; color:#009ff1;}
.HB2 .HB-Header{ background: url(http://www.pressclubkolkata.com/images/Icon-Manage.png) no-repeat 90% 50%; color:#e9495f;}
.HB3 .HB-Header{ background: url(http://www.pressclubkolkata.com/images/Icon-Communication.png) no-repeat 90% 50%; color:#15b6a0;}
.HB4 .HB-Header{ background: url(http://www.pressclubkolkata.com/images/Icon-Track.png) no-repeat 90% 50%; color:#b46353;}
.HB-Content{ background-color:#fff; padding:10px 15px; line-height:20px; border-bottom:solid 1px #f2f2f2;  border-top:solid 0px #f2f2f2; font-size:12px; color:#969696; margin:0px 15px; }
.HB-Content img{ width:36px; height:auto; margin-bottom:10px; }
.HB-Content strong{ font-weight:500;}
.HB-Content h6{ font-family:Roboto;  font-size:16px; font-weight:400; margin:0px; margin:10px 0px;}
.HB-Content p{  margin-bottom:0px;}
.HB1 .HB-Content h6{color:#009ff1;}
.HB2 .HB-Content h6{color:#e9495f;}
.HB3 .HB-Content h6{color:#15b6a0;}
.HB4 .HB-Content h6{color:#b46353;}
.HB1 .HB-Content:hover h6,.HB2 .HB-Content:hover h6, .HB3 .HB-Content:hover h6, .HB4 .HB-Content:hover h6{color:#fff;}
.HB1 .HB-Content:hover{ color:#fff!important; background: url(http://www.pressclubkolkata.com/images/LeftArrow-White.png) no-repeat 95% 25% #009ff1;}
.HB2 .HB-Content:hover{ color:#fff!important; background: url(http://www.pressclubkolkata.com/images/LeftArrow-White.png) no-repeat 90% 20% #e9495f;}
.HB3 .HB-Content:hover{ color:#fff!important; background: url(http://www.pressclubkolkata.com/images/LeftArrow-White.png) no-repeat 90% 20% #15b6a0;}
.HB4 .HB-Content:hover{ color:#fff!important; background: url(http://www.pressclubkolkata.com/images/LeftArrow-White.png) no-repeat 90% 20% #b46353;}


.HB-Links{ background-color:#fff; padding:10px 0px; border-bottom:solid 1px #f2f2f2;  border-top:solid 0px #f2f2f2; font-size:12px; color:#969696; margin:0px 0px; }
.HB-Links:hover {  border-bottom:solid 1px #ff5252;}

.Index-Features{ padding:30px 0px 30px 0px;}
.Index-Features h1{ font-family:Roboto; font-weight:300; font-size:30px; letter-spacing:-0.025em; color:#ea495f; margin:0px; margin-bottom:10px;}
.Index-Features h2{ font-family:Roboto; font-weight:300; font-size:18px; letter-spacing:-0.010em; color:#4a4a4a; margin:0px; margin-bottom:20px;}
.Index-FeatureBlock{ padding:20px 10px; min-height:280px; text-align:center; }
.Index-FeatureBlock h4{ font-family:Roboto; font-weight:300; font-size:18px; letter-spacing:-0.010em; color:#fff; margin:20px 0px;}
.Index-FeatureBlock h6{ font-family:Roboto; font-weight:500; font-size:12px; color:#acc8ff; margin:10px 0px;}
.Index-FeatureBlock p{ font-size:13px; color:#fff; line-height:20px; margin:10px 0px;}

.Index-MidBlock{background: url(../images/EventBack.jpg) no-repeat 50% 100% #5d9dff; padding:60px 0px; padding-bottom:250px; margin-top:30px;}
.Index-MidBlock h1{ font-family: 'Roboto Slab'; font-weight:300; font-size:24px;  letter-spacing:-0.025em; color:#fff; margin:0px; margin-bottom:30px; text-transform:none;}
.Index-MidBlock h2{ font-family: 'Cookie'; font-weight:300; font-size:36px;  letter-spacing:-0.010em; color:#212121; margin:0px; margin-bottom:20px;}
.Index-MidBlock p{ color:#fff;}
.LeftBlock{ padding:80px 40px; margin:0px 0px; }
.RighBlock{ padding:80px 40px; margin:0px 0px;}
.UserPi80{ width:80px; height:auto; border:solid 5px #fff; margin-bottom:20px; border-radius:50%;}

.MediaImg{ width:100px; height:auto; margin:20px 10px;}

.ImpLink{ padding:15px 0px; background:#fff; margin-bottom:20px; min-height:100px;}
.ImpLink img{ margin-bottom:10px!important;}
.ImpLink h5{ font-size:15px; font-weight:500; margin:0px; margin-bottom:15px;}
.ImpLink h5 a{ color:#ff5252!important;}
.ImpLink a{ color:#969696;}
.ImpLink p{ margin:0px;}

.Bottom-SupportBlock{ margin:0px; margin-top:0px; font-size:13px; border-top:solid 2px #ebebeb; background:#f0f0f0;}
.Bottom-SupportBlock h1{ font-family:Roboto; font-weight:300; font-size:30px; letter-spacing:-0.025em; color:#ea495f; margin:0px; margin-bottom:10px; margin-top:30px;}
.Bottom-SupportBlock h2{ font-family:Roboto; font-weight:300; font-size:20px; letter-spacing:-0.010em; color:#ea495f; margin:0px; margin-bottom:10px; margin-top:30px;}
.Bottom-SupportBlock h3{ font-family:Roboto; font-weight:400; font-size:18px; letter-spacing:-0.010em; color:#4a4a4a; margin:0px; margin-bottom:30px;}
.Support-Block{ background: url(http://www.pressclubkolkata.com/images/Index-Support-Icon.png) no-repeat 02% 50%; padding:0px 0px 20px 0px; padding-left:80px; min-height:80px;}

.Inside-BG{ background-color:#fafafa; text-align:center; padding:40px 15px; border-bottom:solid 1px #f3f3f3; margin-bottom:40px;}
.Inside-BG h1{ font-weight:400; font-size:28px; letter-spacing:-0.035em; color:#1b4b57; margin:0px; margin-bottom:10px;}
.Inside-BG h2{ font-weight:300; font-size:18px; letter-spacing:-0.010em; color:#4a4a4a; margin:0px; margin-bottom:00px;}
.Inside-BG h2 span{ font-weight:400; color:#4a4a4a;}

.PricingBlock{border:solid 1px #f2f2f2; background-color:#fff; padding:25px 25px; padding-bottom:10px; text-align:center;}
.PricingBlock p{ font-size:13px;}
.PricingBlock hr{ border-top:solid 1px #f2f2f2; margin:20px -25px;}
.PricingBlock h4{ font-size:15px;}
.PricingBlock h3{ font-size:18px; font-weight:400;}
.PricingBlock .InputBox{border:solid 2px #d7d7d7; background-color:#fafafa; padding:15px 10px; min-width:220px; text-align:center; margin:0 auto; border-radius:4px; font-size:18px; color:#1b4b57;}
.TxtGreen{ color:#15b6a0;}
.TxtBlue{ color:#009ff1;}
.TxtRed{ color:#ea495f;}
.TxtGray{ color:#969696;}

.Gray-BG{ background-color:#fafafa; padding:50px 0px;}
.Gray-BG h5{ font-family:Roboto; font-size:16px; font-weight:400; color:#e9495f; margin:0px; margin-bottom:15px;}

.FAQ-Block{ padding:30px 0px; min-height:160px;}
.SupportBlock{ text-align:center; padding:30px; min-height:200px;}
.SupportBlock img{ margin-bottom:25px;}
.SupportBG-Img{ width:100%; height:auto; max-width:712px;}
.SupportBlock h4{ font-family:Roboto; font-size:20px;}
.SideBorder{border-left:1px solid #d0d0d0; border-right:1px solid #d0d0d0;}

.DomainName{ position:absolute; right:15px; top:20px; color:#15b6a0; font-size:15px;}

.FeatureBG h1{font-size:30px; color:#1b4b57; margin:40px 0px 20px 0px;}
.FeatureBG h2{font-size:20px; font-family:Roboto; color:#646464; margin:10px 0px 10px 0px; font-weight:300;}
.FeatureBG h6{ font-family:Roboto; font-size:14px; color:#757575; font-weight:300; line-height:24px;}
.Feature-Header{ font-size:16px; padding:20px; border-right:solid 1px #f2f2f2; border-bottom:solid 3px #fafafa; background-color:#fff; margin:0px -15px;}
.Feature-Header:hover{ border-bottom: solid 3px #fdc100;}
.Feature-Header img{ position:absolute; top:15px; right:30px;}
.FH1{ color:#009ff1; }
.FH2{ color:#ea495f; }
.FH3{ color:#15b6a0; }
.FH4{ color:#b46353; }
.Feature-Header-Active{ border-bottom: solid 3px #1b4b57;}



.FeatureMain-Pic{width:100%; height:auto; max-width:1100px; margin:30px 0px;}
.Feature-Content{ min-height:600px; padding:30px 20px; padding-left:0px;}
.Feature-Content img{ width:100%; height:auto; max-width:450px; margin:30px 0px;}
.Feature-Content h3{ font-family:Roboto; font-size:18px; color:#343434; margin:0px; margin-bottom:20px;}
.Feature-Content h4{ font-family:Roboto; font-size:14px; color:#009ff1; margin:0px; margin-bottom:05px; font-weight:400;}

.NextFeature-BG{background-color:#fafafa; padding:50px 0px;}
.NextFeature-BG h3{font-size:18px; color:#757575; margin:20px 0px 10px 0px;}
.NextFeature-BG h5{font-family:Roboto; font-size:14px; color:#ea495f; font-weight:400; margin:20px 0px 5px 0px;}
.NextFeature-BG h4{ font-family:Roboto; font-size:24px; color:#ea495f; margin:10px 0px 10px 0px; font-weight:300;}
.NextFeature-BG h6{ font-family:Raleway; font-size:13px; color:#969696; font-weight:700; line-height:24px; letter-spacing:0.5em;}
.NextFeature-BG p{ font-size:12px;}
.NextFeature-Img{  width:100%; height:auto; max-width:450px;}

.Footer-Link{ border-top:solid 0px #ebebeb; padding:20px; padding-left:30px;  font-size:12px;}
.Footer-Link a:link{ color:#009ff1;}
.Footer-Link a:hover{ color:#ea495f;}
.Footer-Link a:visited{ color:#009ff1;}
.Footer-Link h6{ font-family:Roboto; font-size:14px; color:#ea495f; margin:0px 0px 15px 0px; font-weight:500;}
.Footer-Link p{ font-size:12px;}



.NoRightBorder{ border-right:none!important;}
.NoLeftBorder{ border-left:none!important;}

.CreditCard{  background: url(http://www.pressclubkolkata.com/images/CreditCard.png) no-repeat 100% 50%; padding-right:40px!important;}
.User{  background: url(http://www.pressclubkolkata.com/images/User.png) no-repeat 100% 50%; padding-right:40px!important;}
.Calendar{  background: url(http://www.pressclubkolkata.com/images/Calendar.png) no-repeat 90% 50%; padding-right:50px!important;}

.SelectInput{ float:left; width:100%; padding:10px; border:none; margin-top:10px; border-bottom: solid 2px #f5f5f5; padding-left:00px;}

.InsidePage{ margin:30px 0px;}
.InsidePage h1{ font-family:Raleway; font-size:20px; text-transform:uppercase; margin:25px 0px; font-weight:800; letter-spacing:0.20em; color:#212121;}
.InsidePage h1 span{ font-size:25px; color:#027291;}

.BlogBG{ padding:0px;}
.Blog-Block{ position:relative; padding:30px 20px; border:solid 1px #f1f1f1; border-bottom:solid 1px #6cb7c7; margin:0px 0px; color:#c6c6c6;}
.Blog-Block a{color:#7b5a83;}
.Blog-Block:hover{ background-color:#f7f7f7; color:#969696;  -webkit-transition: all 0.5s ease; transition: all 0.5s ease;}
.Blog-Block-Thumb{ width:200px; height:200px; overflow:hidden; border-radius:0%; float:left; margin-right:20px; margin-bottom:20px;}
.Blog-Block-Thumb img{ height:200px; width:auto;}
.Blog-Block-Thumb:hover{ border-radius:10%; -webkit-transition: all 0.2s ease; transition: all 0.2s ease;}
.Blog-Block h2{ margin-top:0px; margin-bottom:20px; font-weight:400; font-size:20px; color:#7b5a83; line-height:24px;}
.Blog-Block h6{margin-bottom:0px; font-weight:400; font-size:14px; color:#969696;}
.Blog-Block p{ color:#acacac; margin-bottom:40px;}
.Blog-Block .glyphicon{ margin-right:10px;}
.Blog-Block hr { margin:10px -20px; border: 0; border-top: 1px solid #f1f1f1;}
.Top-Rated{ width:64px; height:64px; position:absolute; top:0px; left:0px;}

.ServiceBlock{ background:#fff; padding:30px 0px; border-bottom:solid 2px #f5f5f5;}
.ServiceBlock img{ margin-bottom:10px;}
.ServiceBlock h5{ font-size:16px; margin:0px; margin-bottom:15px; color:#414141; font-weight:500;}
.ServiceBlock a{ color:#969696!important;}


.Testimonial-Block{ background:#fff; padding:30px 0px; border-bottom:solid 2px #f5f5f5; }
.Testimonial-Block h2{ font-family:'Roboto Slab'; font-size:18px; margin:0px; margin-bottom:15px; color:#414141; font-weight:500;}
.Testimonial-Block p{ margin:5px 0px;}
.Testimonial-Block p a{ color:#ff8c00;}

.GrayBlock{ background:#f8f8f8; padding:30px 20px 20px 20px; border-bottom:solid 3px #ececec; margin-bottom:30px; min-height:200px; }
.GrayBlock h2{font-family:Roboto; font-size:24px; color:#ff5252; margin:0px 0px 15px 0px; font-weight:300; }
.GrayBlock h2 strong{ font-size:13px; font-weight:400; color:#212121; line-height:25px; clear:both;}
.GrayBlock h3{font-family:Roboto; font-size:16px; color:#ff5252; margin:0px 0px 15px 0px; font-weight:300; }
.GrayBlock h4{font-family:Roboto; font-size:12px; color:#fff; margin:0px 0px 15px 0px; font-weight:400; background:#ff914f; padding:8px 5px; padding-left:80px;}
.GrayBlock .UserPi60{ width:70px; height:auto; border-radius:50%; border:solid 5px #ff914f; margin-top:-10px; margin-bottom:10px; margin-right:10px; float:left;}

.GrayBlock1{ background:#f8f8f8; padding:20px; padding-bottom:10px; border-bottom:solid 2px #f5f5f5; margin-bottom:3px; }
.GrayBlock1 h2{font-family:Roboto; font-size:16px; color:#000; margin:20px 0px 15px 0px; font-weight:300; }
.GrayBlock1 h2 span{ font-size:13px; color:#212121; float:right}
.GrayBlock1 h4{font-family:Roboto; font-size:13px; color:#ff5252; margin:10px 0px 10px 0px; font-weight:400; }
.GrayBlock1 p{ color:#969696; margin-bottom:05px;}
.GrayBlock1 p strong{ color:#414141; font-weight:500; font-size:16px;}

.MembershipBlock{ background:#eaf9ff; border-radius:5px; padding:20px; padding-bottom:10px; text-align:center; margin:40px 15px 20px 15px; min-height:320px; }
.MembershipBlock img{ width:100px; height: 100px; border:solid 10px #eaf9ff; border-radius:50%; margin:0px; margin-top:-60px;}
.MembershipBlock h1{font-family:Roboto; font-size:24px; color:#0098d0; margin:10px 0px; font-weight:300; text-transform:capitalize; letter-spacing:0em; }
.MembershipBlock h1 span{ font-size:13px; font-weight:400; color:#212121; line-height:25px; clear:both;}
.MembershipBlock p{ margin:0 0 5px!important;}

.GalleryBlock{ background:#f0f0f0; border:solid 5px #fff; border-radius:5px; padding:00px; text-align:center; margin:15px 0px; box-shadow:0px 0px 0px #9f9f9f;}
.GalleryBlock:hover{ background:#f8f8f8; border:solid 5px #fff; border-radius:5px; box-shadow:0px 0px 10px #ddd;}
.GalleryBlock h1{font-family:Roboto; font-size:18px; background-color:#ff8711; padding:20px 10px; color:#fff; margin:00px 0px; font-weight:400; text-transform:capitalize; letter-spacing:0em;  border-top:solid 3px #fff; }
.GalleryBlock img{ width:100%; height:auto; margin:0px;}
/*
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.item:nth-child(1) {
    background: url(../images/IndexBG-00.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url(../images/IndexBG-01.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url(../images/IndexBG-02.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(4) {
    background: url(../images/IndexBG-03.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
*/
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}
.gal-thumbnail{ width:100%; height:auto; margin:10px; padding:10px 0px;}


@media screen and (max-width:1200px){

}


@media screen and (max-width:992px){
.HB2{ border-right:solid 1px #dcdcdc;}
.SideBorder{ border:none;}
.Feature-Header{ border-right:solid 0px #f2f2f2;}
.modal.left .modal-dialog,.modal.right .modal-dialog { width: 75%;}
}


@media screen and (max-width:768px){
.Index-BG{padding:40px 20px 180px 20px;}
.Index-BG h1{ font-size:28px;}
.Index-BG h2{ font-size:18px; margin-bottom:30px;}
.HB1{ border:solid 0px #dcdcdc;}
.HB2{ border:solid 0px #dcdcdc;}
.HB3{ border:solid 0px #dcdcdc;}
.HB4{ border:solid 0px #dcdcdc;}
.Index-FeatureBlock{ min-height: auto; padding:20px 10px;}
.Index-MidBlock{}
/*.navbar-right li{ width:50%; float:left; border-top:solid 1px #9bb0b5; }*/
.TopSignUp{background-coloIndex-FeatureBlockransparent;}
.FAQ-Block{ padding:15px 0px; min-height: auto;}
.Feature-Header{ font-size:14px;border-right:solid 0px #f2f2f2;}
.Inside-BG h1{ font-size:20px; margin-bottom:10px;}
.Inside-BG h2{ font-size:16px; line-height:24px;}
.modal.left .modal-dialog,.modal.right .modal-dialog { width: 90%;}
.SupportBlock{ padding:15px 20px; min-height: auto;}
.Footer-Link{ border-left:solid 0px #ebebeb; border-top:solid 2px #ebebeb; padding:20px; background-color:#f7f7f7;}
}